@import "~quasar-framework/dist/core.variables.styl";
// Variables here
@import "~animate.css/animate.min.css";
@import "~quasar-extras/fontawesome/fontawesome.css";
@import "~quasar-framework/dist/quasar.mat.styl";